# Virtual environment
venv/
env/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Model files
*.pkl

# Uploads
uploads/

# IDE
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store

# Logs
*.log
